@tailwind base;
@tailwind components;
@tailwind utilities;

/*background */
.app-shell{
    @apply dark:bg-gray-900 bg-gray-50 text-gray-900 dark:text-gray-50 font-sans min-h-screen;
}
/*panel*/
.app-surface {
    @apply bg-gray-300 dark:bg-gray-800 text-gray-900 dark:text-gray-50;
}
/*input*/
.app-input {
    @apply bg-gray-400 dark:bg-gray-700 rounded text-gray-900 dark:text-gray-50 placeholder-gray-600 dark:placeholder-gray-400;
}
/*button*/
.app-button {
    @apply rounded bg-blue-600 hover:bg-blue-500 dark:bg-blue-500 dark:hover:bg-blue-400;
}
/*navbar*/
.app-nav {
    @apply bg-gray-100 dark:bg-gray-900/80 border-b border-gray-300 dark:border-gray-700;
}
/*footer*/
.app-footer {
    @apply dark:text-blue-500 text-blue-700;
}
/*logo*/
.app-logo {
    @apply text-blue-500 dark:text-blue-500 hover:text-blue-400 dark:hover:text-blue-400
}